  body {
      font-family: 'Arial', sans-serif;
      background-color: #E8D3D3;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .carta {
      background-image: url(img/a.jpg);
      max-width: 600px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .fondo {
      max-width: 600px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border: red 5px outset
    }

    img{
     padding:8px;
   background-color: #f5f5f5;
   border-bottom: 1px solid #999999;
   border-right: 1px solid #999999;
    }

    h1 {
      color: #C0392B;
      text-align: center;
    }

    p {
      text-align: justify;
      line-height: 1.5;
    }

    footer {
      margin-top: 20px;
      text-align: center;
      color: #F481F3;
    }

    @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

.boton {
border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #C0392B; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
}